:root {
    --color-default: #535656;
    --color-dark: #171717;
    --color-primary: #4F5955;
    --color-primary-light: #6d7573;
    --color-primary-dark: #2f3331;
    --color-secondary: #D9C3A9;
    --color-accent: #F2EDDC;
    --color-gray: #F7F7F7;
    --color-light: #FFFFFF;
    --color-border-dark: #333333;
    --color-border-dark-transperent: rgba(51, 51, 51, 0.10);
    --color-border-primary: #424946;
    --color-border-secondary: #c0ac94;
    --color-border-accent: #d5d1c1;
    --color-border-gray: #e3e3e3;
    --color-border-light: #eeeeee;
    --color-border-light-transparent: rgba(255, 255, 255, 0.95);
}
