.topmenu {
    text-align: center;
    margin-bottom: 120px;
    margin-top: 120px;
}
.ourproject-headpage {
    .container {


        .ourproject-content {

            .allimgrpt {
                display: flex;

                .annulrpt {
                }
            }
        }
    }
}