.topmenu {
    text-align: center;
    height: 245px;

    }
.ourprojectheadpage {
    .container {
        margin-left: 375px;
        display: flex;
        margin-top: 50px;
        margin-bottom: 230px;

        .ourprojectcontent {

            .verticalline {
                border-left: 1px solid lightgray;
                height: 500px;
                position: absolute;
                left: 10%;
                margin-left: -2px;
                top: 0;
            }

            .annulrpt {
                display: flex;
                gap: 30px;

                .sideannul {
                    width: 360px;
                    padding-bottom: 20px;
                }
            }

            .bsninsigt {
                display: flex;
                gap: 30px;

                .sidebsn {
                    width: 360px;
                    padding-bottom: 20px;
                }
            }

            .finceadv {
                display: flex;
                gap: 30px;

                .sidefina {
                    width: 360px;
                    padding-bottom: 20px;
                }
            }

            .bdgplan {
                display: flex;
                gap: 30px;

                .sidebdg {
                    width: 360px;
                    padding-bottom: 20px;
                }
            }
        }
    }

    .howcanwehelp {
        margin-left: 90px;
        display: grid;
    }
}