.topmenu {
    text-align: center;
    align-items: center;
    align-content: center;
    height: 245px;
}
.servicedetailssection {


    .container {
        padding-top: 100px;
        h3{
            color:black;
        }
        .servicedetailscontent {
            display: flex;


            .servicedetailsaboutus {
                margin-left: 285px;
                width: 300px;

                .howcanwehelp {
                    padding-top: 20px;
                    width: 300px;
                    height: 240px;

                    h4 {
                        color: white;
                    }

                    p {
                        color: white;
                    }

                    .fa-envelope {
                        position: relative;
                        right: 30px;
                    }

                    text-align: center;

                    .inputhelp {
                        width: 265px;
                        height: 50px;
                    }
                }
            }

            .servicedetailskeypoints {
                width: 730px;
                margin-left: 100px;
            }

            .finacialplan {
                width: 730px;
                margin-left: 100px;
            }

            .finacialconfidance {
                width: 730px;
                margin-left: 100px;
            }
        }
    }

    .haveaquestionform {
        margin-left: 270px;

        .inputclassfirst {


            .name1 {
                width: 500px;
                height: 50px;
            }

            .email1 {
                width: 500px;
                height: 50px;
            }
        }

        .submitform1 {
            display: grid;

            .question1 {
                width: 1003px;
                height: 150px;
                margin-bottom: 30px;

                .btn-sbt {
                    width: 150px;
                }
            }
        }
    }
}