<header>
    <div class="topbar bg-dark">
        <div class="container bg-dark">
            <div class="addressinfo">
                <p>Klarabergsviadukten 90, 111 64 Stockholm</p>
            </div>
            <div class="socialmedia bg-dark">
                <a href="#" target="_blank"> <i class="fa-brands fa-facebook"></i></a>
                <a href="#" target="_blank"><i class="fa-brands fa-x-twitter"></i> </a>
                <a href="#" target="_blank"> <i class="fa-brands fa-linkedin"></i></a>
            </div>
        </div>
    </div>
    <div class="navbar bg-light">
    <a class="logo" img="/images/logo.svg" href="/home"><img src="/images/logo.svg"></a>
    
     <nav class="btn ">
        <a class="nav-link" href="/about">About</a>
        <a class="nav-link" href="/our-service">Services</a>
        <a class="nav-link" href="/our-project">Projects</a>
        <a class="nav-link" href="/contact">Contact</a>
    </nav>
    </div>
</header>