<section class="letusknow">
    <div class="container">
        <div class="newknowpage bg-gray">
        <div class="letusknow-content">
            <div class="leusknow">
                <img class="dot" src="~/images/Dot.svg">
                <img class="backgroundman" src="/images/Bg.svg">
                <img class="letusknowpic" src="/images/LetusKNowpic.svg">
            </div>
            
        </div>
        <aside class="letusknowaddress">
            <h2>Let us know about your next project</h2>
            <i class="fa-solid fa-location-dot">Office location</i>
            <p>Klarabergsviadukten 90, 111 52 Stockholm</p>
            <i class="fa-solid fa-phone-flip">Phone number</i>
            <p>+46 8 123 456 75</p>
            <i class="fa-regular fa-envelope">E-mail address</i>
            <p>sales@onatrix.com</p>
        </aside>
        </div>
    </div>
</section>