<section class="letusknow">
    <div class="container">
        <div class="letusknow-content">
            <img class="dot" src="~/images/Dot.svg">
            <img class="backgroundman" src="/images/Bg.svg">
            <img class="letusknowpic" src="/images/LetusKNowpic.svg">
            <h2></h2>
            <address class="letusknowaddress">
                <i class="fa-solid fa-location-dot">Office location</i>
                <p>Klarabergsviadukten 90, 111 52 Stockholm</p>
                <i class="fa-solid fa-phone-flip">Phone number</i>
                <p>+46 8 123 456 75</p>
                <i class="fa-regular fa-envelope">E-mail address</i>
                <p>sales@onatrix.com</p>
                
            </address>
        </div>
        <aside>

        </aside>
    </div>
</section>