a {
    display: inline-block;
    @include text;
    font-size: 1em;
    text-decoration: none;
    border:none !important;
   
    

    &:hover {
        text-decoration: underline;
    }

    &[target = "-blank"] {

        &::after {
            content: '\f08e';
            font-family: "Font Awsome 6 pro";
        }
    }
}
